.dropdown {
    font-family: sans-serif;
    background: #f0f0f0;

    &__container {
        position: relative;
        width: 10.5em;
    }

    &__header,
    &__list {
        border-radius: 0.2em;
        background: #ffffff;
        color: #F3837D;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
    }

    &__header {
        align-items: center;
        border: 2px solid #e5e5e5;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 0.6em 0.8em;
        transition: 0.5s;
        &.error {
            border: 2px solid red;
        }
    }

    &__list {
        border: 1px solid #e5e5e5;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 3em;
        z-index: 100;
        
        &__item {
            list-style: none;
            margin-bottom: 0.4em;
            padding: 0.6em 0.8em;
        }
        
        &:first-child {
            padding-top: 0.8em;
        }
    }

    .rotatesvg {
        transform: rotateX(180);
    }

}

@media screen and (max-width: 768px) {
    .dropdown{
        &__container {
            width: 100%;
        }
    }
}

