.input {
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 0.2em;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    justify-content: space-between;
    padding: 0.6em 0.8em;
    transition: 0.5s;
    &.error {
        border: 2px solid red;
    }
}
