.custom__button {
    align-items: center;
    background-color: #91288A;
    border: 1px solid #91288A;
    border-radius: .25rem;
    box-sizing: border-box;
    color: white;
    display: flex;
    height: min-content;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    text-align: center;
    padding: 0.6em 0.8em;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    svg {
        margin-left: 0.5em;
    }
    :hover {
        background-color: #2595df;
    }
}